/* Base */
@import './base/_variables.css';

/* Layouts */
@import './layouts/_header.css';
@import './layouts/_footer.css';

/* Components */
@import './components/_modal-cart.css';



body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-md);
    color: var(--color-dark);
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

.mobile-touch {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}