/* Base */
@import './base/_variables.css';

/* Layouts */
@import './layouts/_header.css';
@import './layouts/_footer.css';
@import './layouts/_modal-cart.css';
@import './layouts/_modal-login.css';


/* Components */
@import './components/_products-cards.css';
@import './components/_section-top.css';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-md);
    color: var(--color-dark);
    letter-spacing: 0.5px;
    line-height: 1.5;
    box-sizing: border-box;
    height: auto;
    padding-top: 85px;
}

button {
    cursor: pointer;
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
}

.mobile-touch {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
    /* background-color: tomato; */
}

.is-active {
    display: flex !important;
}

.is-disabled {
    display: none !important;
}

@media (max-width: 768px) {
    .mobile-touch {
        display: flex;
    }
}

@media (max-width: 1280px) {
    .max-width {
        padding-left: var(--site-margin);
        padding-right: var(--site-margin);
    }
}