
#search-info__title {
    font-size: var(--font-h3);
    color: var(--color-dark);
    font-weight: 700;
    margin-bottom: var(--spacing-xs);
}

#search-info__count {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
}

#result__area {
    display: flex;
    gap: var(--spacing-lg);
}

#mobile-filter {
    text-decoration: underline;
    font-size: var(--font-size-md);
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    display: none;
}


/*  -----   RESULT'S FILTER BOX   -----  */

#result__filter-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    position: relative;
}

.filter-box__area {
    background-color: #fff;
    border-radius: var(--spacing-md);
    padding: var(--spacing-md) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.result__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-sm);
    gap: var(--spacing-md);
}

.result__heading-title {
    margin: 0;
    font-size: var(--font-h5);
    font-weight: 600;
    color: var(--color-dark);
}

.result__heading-btn {
    background-color: transparent;
    padding: var(--spacing-sm) var(--spacing-sm);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.result__heading-btn:hover {
    background-color: var(--color-bg);
}

.result__heading-btn img {
    width: 0.9rem;
    height: auto;
}

#filter__content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#filter__options {
    display: flex;
    padding: var(--spacing-sm) var(--spacing-sm);
    background-color: transparent;
    border: 1px solid var(--color-dark);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    width: 100%;
}

#filter__options:active {
    transform: scale(0.98);
}

#price__content {
    display: flex;
    gap: var(--spacing-md);
}

.price__input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xs);
    flex: 1;
}

.price__input-area label {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
}

.price__input {
    padding: var(--spacing-sm);
    border: 1px solid var(--color-dark);
    border-radius: var(--border-radius-sm);
    max-width: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*  -----   RESULT'S CARDS   -----  */

#result__cards-wrapper {
    flex: 3;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);
}

#result__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 250px));
    justify-items: center;
    row-gap: var(--spacing-lg);
}

#result__nav {
    display: flex;
    gap: var(--spacing-sm);
}

.result__nav-btn {
    background-color: transparent;
    border: 1px solid var(--color-dark);
    border-radius: var(--spacing-md);
    font-size: var(--font-size-md);
    color: var(--color-dark);
    padding: var(--spacing-sm) var(--spacing-md);
}

.result__nav-page {
    background-color: transparent;
    border: 1px solid var(--color-dark);
    border-radius: 50%;
    font-size: var(--font-size-md);
    font-weight: bold;
    color: var(--color-dark);
    padding: 0.6rem 0.9rem;
}

.result__nav-page.active {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: 1px solid transparent;
}

.result__nav-page:hover,
.result__nav-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: 1px solid transparent;
}

.result__nav-btn:disabled {
    background-color: var(--color-bg);
    color: var(--color-secondary);
    border: 1px solid transparent;
    cursor: not-allowed;
}

.dragIcon__filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: grab;
    display: none;
}

.dragIcon__filter {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
}

#result__filter-box.is-open {
    transform: translateY(-100%);
    visibility: visible;
    transition: transform 0.6s ease;
}

@media (max-width: 576px) {
    #search-info {
        margin-top: var(--spacing-lg);
    }

    #search-info__content {
        display: flex;
        justify-content: space-between;
    }

    #search-info__title {
        display: none;
    }

    #mobile-filter {
        display: block;
    }

    #result__filter-box {
        bottom: 0;
        position: fixed;
        z-index: 1000;
        padding: var(--spacing-lg) var(--spacing-sm);
        width: calc(100vw - 4 * var(--site-margin));
        border-radius: var(--spacing-md);
        background-color: var(--color-bg);
        visibility: hidden;
        transform: translateY(100%);
    }

    #result__filter-box.is-open {
        visibility: visible;
        transition: all 0.4s ease;
        transform: translateY(0);
    }

    .price__input-area {
        align-items: center;
    }

    #result__area {
        flex-direction: column;
        align-items: center;
    }

    #result__cards {
        grid-template-columns: repeat(2, minmax(160px, 250px));
        width: 100%;
        column-gap: var(--spacing-sm);
    }

    .dragIcon__filter-wrapper {
        display: flex;
    }

    .dragIcon {
        display: flex;
        z-index: 1001;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #search-info {
        margin-top: var(--spacing-lg);
    }

    #search-info__content {
        display: flex;
        justify-content: space-between;
    }

    #mobile-filter {
        display: block;
    }

    #result__area {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #result__filter-box {
        bottom: 0;
        position: fixed;
        z-index: 1000;
        padding: var(--spacing-lg) var(--spacing-sm);
        width: calc(100vw - 4 * var(--site-margin));
        border-radius: var(--spacing-md);
        background-color: var(--color-tertiary);
        visibility: hidden;
        transform: translateY(100%);
        max-width: 500px;
    }

    #result__cards {
        grid-template-columns: repeat(3, minmax(160px, 250px));
        width: 100%;
        column-gap: var(--spacing-sm);
    }

    #result__filter-box.is-open {
        visibility: visible;
        transition: all 0.4s ease;
        transform: translateY(0);
    }

    .price__input-area {
        align-items: center;
    }

    .dragIcon__filter-wrapper {
        display: flex;
    }

    .dragIcon {
        display: flex;
        z-index: 1001;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #result__cards {
        grid-template-columns: repeat(auto-fill, minmax(160px, 250px));
        width: 100%;
        justify-content: flex-end;
    }
}

@media (min-width: 993px) and (max-width: 1280px) {
    #result__cards {
        grid-template-columns: repeat(3, minmax(160px, 250px));
        width: 100%;
        justify-content: center;
    }
}