:root {
    --footer-bg-color: #ededed;
    --footer-text-color: #333;
    --footer-spacing: 1.5rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    background-color: var(--footer-bg-color);
    padding: var(--footer-spacing);
    border-radius: calc(var(--spacing-md) + var(--footer-spacing));
}

.footer__wrapper1,
.footer__wrapper2,
.footer__wrapper3 {
    display: flex;
    justify-content: space-between;
    border-radius: var(--spacing-md);
}

.footer__wrapper1 {
    padding: var(--spacing-md) var(--footer-spacing);
    background-color: #fff;
    border: 1px solid transparent;
}
.footer__wrapper2 {
    flex-grow: 1;
    gap: var(--spacing-lg);
}

.footer__callCenter,
.footer__payment-methods {
    padding: var(--spacing-lg) var(--spacing-lg);
    border-radius: var(--spacing-md);
    background-color: #fff;
    flex: 1;
    border: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.footer__callCenter {
    display: flex;
    align-items: center;
}

.footer__callCenter a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--color-dark);
}

.footer__callCenter:hover {
    border: 1px solid var(--color-accent);
    background-color: var(--color-bg);
}

.footer__wrapper3 {
    padding: var(--spacing-md) var(--footer-spacing);
    align-items: center;
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    font-weight: bold;
    background-color: #fff;
    border: 1px solid transparent;
}

.footer__nav,
.footer__social {
    flex: 1;
}

.footer__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-lg);
}

.footer__nav li {
    padding: var(--spacing-xs) 0;
}

.footer__nav a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: var(--font-size-sm);
    transition: color var(--transition-speed);
}

.footer__nav a:hover {
    color: var(--color-accent);
}

.footer__nav-title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-lg);
}

.footer__social-icons {
    display: flex;
    padding-top: var(--spacing-md);
    gap: var(--spacing-lg);
    flex-wrap: wrap;
}

.footer__social-icons img {
    height: 2rem;
}

.footer__callCenter img{
    height: 3rem;
    margin-right: var(--spacing-md);
}

.footer__callCenter-wrapper p {
    margin: 0;
    padding: var(--spacing-xs) 0;
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
}

.footer__logo {
    margin: 0;
    padding: 0;
}

.footer__logo img {
    height: 3rem;
}

.footer__payment-icons {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    padding: 4px 0;
    flex-wrap: wrap;
}

.footer__payment-icons img {
    height: 3rem;
}

.footer__copyright {
    text-align: center;
}

@media (max-width: 576px) {
    .footer__container {
        padding: 0 var(--site-margin);
        gap: var(--spacing-md);
    }

    .footer__wrapper1,
    .footer__wrapper2,
    .footer__wrapper3 {
        flex-direction: column;
        gap: var(--spacing-md);
        text-align: center;
    }

    .footer__wrapper1 {
        gap: var(--spacing-lg);
    }

    .footer__callCenter,
    .footer__payment-methods {
        padding: var(--spacing-md);
    }

    .footer__payment-icons {
        display: grid;
        margin-top: var(--spacing-md);
        gap: var(--spacing-md);
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .footer__payment-icons img {
        height: 2.5rem;
    }

    .footer__social-icons {
        justify-content: center;
    }
}