:root {
    /* Root's font-size */
    font-size: 16px;

    /* Colors */
    --color-primary: #D80806;
    --color-primary-light: #B72804;
    --color-secondary: #6c757d;
    --color-tertiary: #D95407;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-bg: #dee2e6;
    --color-accent: #33b5e5;

    /* Typography */
    --font-family-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-serif: Georgia, 'Times New Roman', Times, serif;
    --font-family-monospace: 'Courier New', Courier, monospace;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-h1: 3rem;
    --font-h2: 2rem;
    --font-h3: 1.5rem;
    --font-h4: 1.25rem;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 3rem;

    /* Borders */
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.5rem;

    /* Shadow */
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --box-shadow-md: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    --box-shadow-lg: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    /* Transitions */
    --transition-speed: 0.3s;

    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Image Sizes */
    --image-xs: 2.5rem;
    --image-sm: 5rem;
    --image-md: 10rem;
    --image-lg: 20rem;
    --image-xl: 40rem;

    /* Others */
    --max-width: 1280px;
    --site-margin: 0.5rem;
    --h-mobile-button: 2.5rem;
    --body-bg-color: #ededed;
    --body-gap: 5rem;
}